/* 
    Document   : style.css
    Created on : Mar 8, 2013, 12:56:48 PM
    Author     : kavan
    Description:
        Purpose of the stylesheet follows.
*/

body{
}
#main{
    width: 900px;
    margin:0 auto;
    background-color: white;

}
form{
    width:500px;
    margin:0 auto;
}
.form_lab{
    display: inline-block;
    min-width: 150px;
        
    
}
.form_line{
    clear:both;
    width: 100%;
    margin-bottom: 5px;
}
.form_submit{
    float:right;
}
