/* 
    Document   : style.css
    Created on : Mar 8, 2013, 12:56:48 PM
    Author     : kavan
    Description:
        Purpose of the stylesheet follows.
*/

body{
    overflow-x: hidden;
   
}
header{
    position:relative;
    width: 110%;
    height: 100px;
    background-color: skyblue;
    margin-top:-10px;
    margin-left:-10px;
    
}
header div{
    position:relative;
    width:900px;
    padding-top:20px;
    margin:0 auto;
    font-size: xx-large;
    font-weight: 700;
    
}
nav{
     position:relative;
    width: 1000px;
    height:40px;
    margin:0 auto;
    background-color: black;

    padding-left: 20px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    
}
#nav_content{
    width:900px;
    margin:0 auto;
    padding-top: 10px;
    
}
nav a ,nav  a:active,nav  a:after,
nav a:before, nav  a:checked
, nav a:default{
color: white;
font-weight: bolder;
text-decoration:none; 
margin-right:10px;
}
nav a:hover{
    color:yellow;
}

#main{
     position:relative;
    width: 900px;
    margin:20px auto;
    background-color: white;

}
#create_form{
    width:500px;
    margin:0 auto;
   padding-bottom: 50px;
}
#create_form textarea{
    width:70%;
    height:70px;
    margin:0 auto;
    resize: none;
}
.form_lab{
    display: inline-block;
    min-width: 150px;
        
    
}
.form_line{
    clear:both;
    width: 100%;
    margin-bottom: 5px;
}
.form_submit{
    float:right;
}
#indexSidebar{
    width:210px;
    min-width: 210px;
    min-height: 1200px;
    max-height: 1200px;
    overflow-y: hidden;
    postion: relative;
     margin:0 auto;
     float:left;
     text-align: center;
     
}
#indexSidebar img{
    width: 200px;
    height: 200px;    
    border-radius: 20px;
    margin:5px auto;
}
#create_album_thumbs img{
    width:100px;
    height:100px;
}
#create_album_thumbs span{
    display: inline-block; 
    border:solid 2px black;
    
}
#create_album_thumbs figure{
   clear:none;
}
#newAlbumsSection{
    width:650px;
    margin-left: 210px;
    padding: 10px;
   
}
.newAlbum {
    width:100%;
    margin-left: 8%;
    height:200px;
    background-color:silver;
    border-radius: 17px;
    text-align: center;
    padding-bottom: 10px;
    border: solid 2px black;
    margin-bottom: 10px;
}
.newAlbumHeader{
    min-width:100%;
    max-height: 35px;
    min-height: 35px;
    display: inline-block;
    white-space: nowrap;
}
.newAlbum h3{
    float:left;
    margin-left: 5%;
    margin-top: 10px;

}
.newAlbum a{
    margin-top: 10px;
    float:right;
    margin-right: 2%;
    color: blue;
    text-decoration: none;

}
.newAlbum a:hover{
    color: yellow;
    cursor: pointer;

}
.newAlbum  span{
    display: inline-block;
    width: 500px;
    margin:0 auto;
    white-space: nowrap;
    
}
.newAlbum span img{
    width:150px;
    height:150px;
    margin-right: 10px;
    border-radius: 17px;
}
#album_info_div{
    margin:0 auto;
    margin-left: 50px;
}
#album_info_div p, #album_info_div span,#album_info_div h3{
    font-size: x-large;
    color: brown;
}
#album_info_div span{
 
}
#album_info_div img{
    width: 200px;
    height:200px;
    margin-right: 20px;
    margin-top: 20px;
    border: solid 3px black;
    border-radius: 17px;
}
