<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <link rel="stylesheet" type="text/css" href="/photomash/view/css/style.css">

    </head>
    <body>

        <div id="main">
            <div>Create New Album</div>
            <hr />

            <form action="/album/create/submit" method="post">             

                <h3> Description</h3>

                <div class ="form_line" > <span class="form_lab" >Title </span> <input type="text" /> </div>
                <div  class ="form_line"> <span class="form_lab">Tags </span> <input type="text" /> </div>
                <div class ="form_line">  <span class="form_lab">E-Mail </span> <input type="email" /> </div>
                <div class ="form_line"> <span class="form_lab">Password: </span> <input type="password" /></div>
                <div class ="form_line">  <span class="form_lab">Retype password: </span> <input type="password" /></div>

                <div class="form_line"> <input class="form_submit" type="submit" /></div>
            </form>
        </div>
    </body>
</html>
