<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>
        <title></title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    </head>
      <body>
         <header> <div>Welcome to Photomash  </div>
        </header>
        
          <nav> 
              <div id="nav_content">
                 
                  <span>
                       <a href="/photomash/">Home</a>
                       
                      <a href="/photomash/album/create" > Create new Album</a>
                  </span>
                  </div>
          </nav>
    </body>
</html>
