<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>

        <!--<base href="/photomash/" target="_blank"/>-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="stylesheet" type="text/css" href="/photomash/view/css/style.css" >
    </head>
    <body>

        <div id="main">
            <div>WEB APP development for AZURE PROJECT officially started</div>
            <hr />
            <a href="/photomash/album/create" > Create new Album</a>
        </div>
    </body>
</html>
