<!--
To change this template, choose Tools | Templates
and open the template in the editor.
-->
<!DOCTYPE html>
<html>
    <head>

        <!--<base href="/photomash/" target="_blank"/>-->
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

        <link rel="stylesheet" type="text/css" href="/photomash/view/css/style.css" >
        
       
        
        <script src="//code.jquery.com/jquery-latest.js"></script>  
        <script type="text/javascript" src="/photomash/view/js/initial.js" ></script> 
        
        <!-- below scripts and link must be deleted after development. for use in netbeans only -->      
        <!-- start of development only  links and scripts -->
        <script type="text/javascript" src="/WEB-INF/view/js/initial.js" ></script>        
        <link rel="stylesheet" type="text/css" href="/WEB-INF/view/css/style.css" >
        <!-- end of development only links and scripts -->
        
    </head>
    <body>
        <div id="head">
            
                 
        </div>
     
        <div id="main">
            
           
            <h2>Content not found!</h2>
       
            </div>
    </body>
</html>
